<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Insert title here</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <div>
        <a th:href="@{/list}">Back to Products</a>
        <form th:action="@{/form}" method="POST" th:object="${product}">
            <input th:if="${product.id != null}" type="hidden" th:field="*{id}">

            <div>
                <label for="categories">Categories</label>
                <div>
                    <select th:field="*{category.id}">
                        <option value="">Select Category</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <small th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></small>
            </div>

            <div>
                <label for="name">Name</label>
                <div><input type="text" th:field="*{name}"></div>
                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>

            <div>
                <label for="price">Price</label>
                <div><input type="number" th:field="*{price}"></div>
                <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
            </div>
            <div>
                <input type="submit" th:value="${button}">
            </div>
        </form>
    </div>
</body>
</html>