<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Insert title here</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <div>
        <a th:href="@{/list}">Back to Products</a>
        <ul>
            <li th:text="'Id: ' + ${product.id}"></li>
            <li th:text="'Name:' + ${product.name}"></li>
            <li th:text="'Price: ' + ${#numbers.formatCurrency(product.price)}"></li>
            <li th:text="'Category: ' + ${product.category.name}"></li>
            <li th:text="'Date: ' + ${#calendars.format(product.createdAt, 'dd/MM/yyyy')}"></li>
        </ul>
    </div>
</body>
</html>