<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Insert title here</title>
</head>
<body>
    <div th:if="${param.error != null}" th:text="${param.error}"></div>
    <div th:if="${param.success != null}" th:text="${param.success}"></div>

    <h1 th:text="${title}"></h1>
    <a th:href="@{/form}">Create Category</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>CREATION DATE</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td th:text="${product.createdAt}"></td>
            <td>
                <a th:href="@{/form-v2/} + ${category.id}">edit</a>
            </td>
            <td>
                <a th:href="@{/delete/} + ${category.id}" onclick="return confirm('Are you sure you want to delete');">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>