<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<a th:href="@{/list}">Back to Products</a>
<div>
  <form th:action="@{/form}" method="POST" th:object="${product}">
    <input th:if="${product.id != null}" type="hidden" th:field="*{id}">
    <label for="name">Name</label>
    <div>
      <input type="text" th:field="*{name}">
    </div>
    <label for="price">Price</label>
    <div>
      <input type="number" th:field="*{price}">
    </div>
    <div>
      <input type="submit" value="create">
    </div>
  </form>
</div>
</body>
</html>