<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <a th:href="@{/form}">Create Product</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>CREATION DATE</th>
            <th>UPDATE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.createdAt}"></td>
            <td>
                <a th:href="@{/form/} + ${product.id}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>